In [3]:
# Import basic libraries
import numpy as np
import pandas as pd 

# import visualization libraries
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
# Loading the data

df = pd.read_csv('UCI_Credit_Card.csv')
df.sample(5)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
22206,22207,30000.0,2,2,2,23,0,0,0,0,...,26409.0,26401.0,26448.0,2300.0,2390.0,1718.0,1100.0,1000.0,2000.0,0
24949,24950,130000.0,1,1,2,43,0,0,0,0,...,64214.0,44840.0,45969.0,6000.0,6000.0,3000.0,2000.0,2000.0,2000.0,0
16364,16365,230000.0,2,2,1,34,-1,-1,-1,-1,...,1390.0,1072.0,849.0,10998.0,1509.0,1390.0,0.0,849.0,3720.0,0
20728,20729,50000.0,1,2,2,41,0,0,0,0,...,43751.0,44619.0,45900.0,2000.0,3000.0,1729.0,1597.0,2000.0,1709.0,0
10438,10439,360000.0,1,1,2,29,-1,-1,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0